
.collaborator-status-interpellee .article-inner {
    background-color: #ffc107;
}

.collaborator-status-decede .article-inner {
    background-color: #e0e0e0;
}

.collaborator-status-active .article-inner {
    background-color: #c8e6c9;
}

.collaborator-status-inactive .article-inner {
    background-color: #f5f5f5;
}
